<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bookService" class="kz.halykacademy.bookstore.services.BookServiceRealization">
        <constructor-arg ref="bookRepo" />
    </bean>

    <bean id="bookProvider" class="kz.halykacademy.bookstore.providers.BookProviderRealization"> </bean>

    <bean id="bookController" class="kz.halykacademy.bookstore.controllers.BookController">
        <constructor-arg ref="bookService" />
    </bean>

    <bean id="bookRepository" class="kz.halykacademy.bookstore.repository.BookRepo"></bean>


</beans>