<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    ********   BOOKS   ***********                         -->
    <bean id="bookService" class="kz.halykacademy.bookstore.services.BookServiceRealization">
        <constructor-arg ref="bookRepository" />
    </bean>

    <bean id="bookProvider" class="kz.halykacademy.bookstore.providers.BookProviderRealization"> </bean>

    <bean id="bookController" class="kz.halykacademy.bookstore.controllers.BookController">
        <constructor-arg ref="bookService" />
    </bean>

    <bean id="bookRepository" class="kz.halykacademy.bookstore.repository.BookRepo"></bean>


<!--    ****************    AUTHORS        ************-->
    <bean id="authorService" class="kz.halykacademy.bookstore.services.AuthorServiceRealization">
        <constructor-arg ref="authorRepository" />
    </bean>

    <bean id="AuthorController" class="kz.halykacademy.bookstore.controllers.AuthorController">
        <constructor-arg ref="authorService" />
    </bean>

    <bean id="authorRepository" class="kz.halykacademy.bookstore.repository.AuthorRepository"></bean>


<!--    *** PUBLISHERS *** -->
    <bean id="publisherService" class="kz.halykacademy.bookstore.services.PublisherServiceRealization">
        <constructor-arg ref="publisherRepository" />
    </bean>

    <bean id="publisherController" class="kz.halykacademy.bookstore.controllers.PublisherController">
        <constructor-arg ref="publisherService" />
    </bean>

    <bean id="publisherRepository" class="kz.halykacademy.bookstore.repository.PublisherRepository"></bean>

</beans>